@model IEnumerable<Mettal.Models.ViewModels.CategoryViewModel>

<div class="categories" id="categories-section">
    <div class="container">
        <div class="text-center">
            <h1>Наша продукция</h1>
        </div>
        <div class="row items">
            @foreach (var item in Model)
            {
                <div class="col-md-4" id="item-@item.Id">
                    <div class="item" style="background-image: url('@item.ImageViewLink')">
                        <div class="text-wrapper text-center">
                            @Html.ActionLink("Позиции", "Positions", "Product", new { id = item.Id }, new { @class = "" })
                            @if (!String.IsNullOrEmpty(item.HtmlContent)) {
                                @Html.ActionLink("Подробнее", "Details", "Category", new { id = item.Id }, new { @class = "" })
                            }
                        </div>
                    </div>
                    <p class="name">@Html.ActionLink(item.DisplayName, "Positions", "Product", new { id = item.Id }, new { @class = "" })</p>
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="controls">
                            @Html.ActionLink("Изменить", "Update", "Category", new { id = item.Id }, new { })
                            |
                            @Ajax.ActionLink("Удалить", "Delete", "Category", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "item-" + item.Id, InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "DELETE", Confirm = "Вы действительно хотите удалить?" })
                            |
                            @Html.ActionLink("Новая позиция", "Create", "Product", new { id = item.Id }, new { })
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>