@model IEnumerable<Mettal.Models.ViewModels.SlideViewModel>
@{
    int index = 0;
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @foreach (var slide in Model)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@index" class='@(index++ == 0 ? "active" : "")'></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{
            index = 0;
        }
        @foreach (var slide in Model)
        {
            <div class='item @(index++ == 0 ? "active" : "")'>
                <img src="@slide.ImageUrl" alt="@slide.Title">
                <div class="carousel-caption">
                    @*@slide.Title*@
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>