@model Mettal.Models.ViewModels.FeedbackViewModel

@using (Ajax.BeginForm("Submit", "Contacts", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "feedback-content" }))
{
    @Html.AntiForgeryToken()

    <div class="feedback-form">
        <div class="errors">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "", placeholder = "Имя" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "", placeholder = "Телефон" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "", placeholder = "Почта" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Message, new { @class = "", placeholder = "Сообщение" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12 text-right">
                <input type="submit" />
            </div>
        </div>
    </div>
}