@using Mettal.Models.ViewModels
@model IEnumerable<CategoryViewModel>

<div id="category-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th style="width: 500px;">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CategoryViewModel item in Model)
            {
                <tr id="tr-@item.Id">
                    <td>@item.DisplayName</td>
                    <td>
                        @Html.ActionLink("Позиции", "Positions", "Product", new {id = item.Id}, new { @class = "btn btn-default" })
                        @Html.ActionLink("Новая позиция", "Create", "Product", new {id = item.Id}, new { @class = "btn btn-default" })
                        @Html.ActionLink("Описание", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Изменить", "Update", new {id = item.Id}, new { @class = "btn btn-default" })
                        @Ajax.ActionLink("Удалить", "Delete", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "tr-" + item.Id, InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "DELETE", Confirm = "Вы действительно хотите удалить?"}, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>