@model List<Mettal.Models.ViewModels.GostViewModel>

@using (Ajax.BeginForm("Update", new AjaxOptions { UpdateTargetId = "gost-list", InsertionMode = InsertionMode.Replace, HttpMethod = "PUT"}))
{
    @Html.AntiForgeryToken()

    <h3>Редактирование записей</h3>

    for (int i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <div class="form-group">
                @Html.HiddenFor(modelItem => Model[i].Id)
                @Html.LabelFor(model => Model[i].Name, htmlAttributes: new { @class = "control-label sr-only col-md-4" })
                <div class="col-md-5">
                    @Html.EditorFor(modelItem => Model[i].Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
                <div class="col-md-1">
                    @Ajax.ActionLink("Удалить", "Delete", new { id = Model[i].Id }, new AjaxOptions { UpdateTargetId = "gost-list", InsertionMode = InsertionMode.Replace, HttpMethod = "DELETE", Confirm = "Вы действительно хотите удалить?" }, new { @class = "btn btn-danger" })
                </div>
                @Html.ValidationMessageFor(modelItem => Model[i].Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
    }
    <input type="submit" class="btn btn-success" value="Сохранить"/>
}